html {
  background-color: grey;
  
}

.container { 
  max-width: 980px;
  height: 1650px;
  background-color:#4c4d4f;
  margin: 0 auto;
}

.container__article {
  max-width: 980px;
  height: 1650px;
  background-color:#4c4d4f;
  margin: 0 auto;
  diplay: block;
}

* {
  box-sizing: border-box;
}

