.footer {
  max-width: 61.25em;
  height: 4.375em;
  background-image: linear-gradient(to top, #ffffff 0%, #cccccc 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @mixin atSmall {
    justify-content: center;
  }
  
} 