.header {
  max-width: 61.25em;
  height: 9.5em;
  background-color: #f4f4f4;
  margin: 0 auto;
  position: relative;
  text-align: right;
  @mixin atSmaller {
    height: 4.3em;
    text-align: center;
  }
  &__logo {
    width: 5.125em;
    height: 5.125em;
    background-image: url('../../assets/images/logo.png');
    position: absolute;
    z-index: 2;
    top: 0.875em;
    left: 1.8125em;
    @mixin atSmaller {
      transform: scale(.8);
      transform-origin: 0 0;
      top: 0;
      left: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__search-bar {
    width: 19.8125em;
    height: 2.4375em;
    background-color: $mainRed;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    @mixin atSmaller {}
  }
  &__search-box--outside {
    position: relative;
    top: 0.25em;
    right: 3.75em;
    bottom: 0.375em;
    left: 0.75em;
    width: 15.3125em;
    height: 1.8125em;
    box-shadow: inset 0 0.1875em 0 rgba(214, 64, 80, 0.75);
    background-color: #940e1e;
    background-image: linear-gradient(to top, #9a0415 0%, #79010f 99%, #79010f 100%);
  }
  &__search-box--inside {
    text-align: left;
    border-radius: 0.1875em;
    width: 15.3125em;
    height: 1.8125em;
    box-shadow: -0.0625em 0.0625em 0 rgba(241, 123, 123, 0.83), inset 0 0.125em 0.25em rgba(0, 0, 0, 0.11);
    background-color: #940e1e;
    background-image: linear-gradient(to top, rgba(150, 3, 20, 0.95) 0%, rgba(121, 1, 15, 0.95) 100%);
  }
  &__bar {
    max-width: 61.25em;
    height: 6.625em;
    background-color: $mainGrey;
    position: relative;
    @mixin atSmaller {
      position: static;
      display: block;
      width: 0px;
      margin: 0 auto;
    }
  }
  &__menu-items {
    margin: 0;
    padding: 0;
    left: 174px;
    bottom: 15px;
    display: flex;
    width: 707px;
    justify-content: space-between;
    position: absolute;
    z-index: 200;
    
    @mixin atMedium {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
      flex-wrap: wrap;
      width: 60%;
    }
    @mixin atSmaller {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      width: 60%;
      top: 0;
      transform: translate(-50%, 0%) scale(1.5);
      transition: all 0s;
    }
  }
}