.icon--magnif-glass {
  width: 1.375em;
  height: 1.4375em;
  background-image: url('../../assets/images/icons/magnif-glass.png');
  position: absolute;
  top: 8px;
  right: 17px;
  bottom: 8px;
  left: 278px;
  &:hover {
    cursor: pointer;
  }
}

.icon--trolley {
  width: 21px;
  height: 21px;
  background-image: url('../../assets/images/icons/trolley.png');
  position: absolute;
  right: 17px;
  bottom: 17px;
  &:hover {
    cursor: pointer;
  }
}

.icon--arrow-red {
  width: 6px;
  height: 10px;
  background-image: url('../../assets/images/icons/arrow-red.png');
  position: absolute;
  top: 2px;
  &:hover {
    cursor: pointer;
  }
}