.row { 
  max-width: 980px;
  height: 1000px;
  background-color: azure;
  display: flex;

  &__4 {
    width: 327px;
    height: 456px;
    background-color: $mainWhite;

    &--black {
      background-color: $mainBlack;
    }
  }
}