.section-page {
  position: relative;
  height: 111px;
  width: 280px;
  /* background-color: beige; */
  margin-left: 27px;
  border-bottom: solid 1px #cccccc;
  &--smaller {
    height: auto;
    width: 240px;
    margin-bottom: 15px;
    padding-bottom: 5.5px;
    /* background-color: beige; */
  }
  &__img {
    width: 83px;
    height: 77px;
    position: absolute;
    left: 0;
    top: 17px;
    &--shadow {
      width: 76px;
      height: 80px;
      position: absolute;
      left: 6px;
      top: 19px;
    }
  }
  &__text {
    position: absolute;
    top: 17px;
    left: 92px;
    height: 77px;
    width: 191px;
    &--shorter-left {
      left: 88px;
    }
  }
  &__square {
    width: 183px;
    height: 80px;
    background-color: $mainRed;
    position: absolute;
    bottom: 224px;
    display: flex;
    align-items: center;
  }
  &__footer-links {
    width: 330px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
  }
  &__footer-icons {
    width: 225px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }
}