.section-page {
  position: relative;
  height: 6.9375em;
  min-width: 17.5em;
  /* background-color: beige; */
  margin-left: 1.6875rem;
  margin-right: 1.875rem;
  border-bottom: solid 0.0625em #cccccc;
  &--smaller {
    height: auto;
    min-width: 17.5em;
    margin-bottom: 0.9375em;
    padding-bottom: 0.34375em;
    &--tweets {
      padding-bottom: 0.15625em;
      min-width: 17.5em;
    }
  }
  &__img {
    width: 5.1875em;
    height: 4.8125em;
    position: absolute;
    left: 0;
    top: 1.0625em;
    &--shadow {
      width: 4.75em;
      height: 5em;
      position: absolute;
      left: 0.375em;
      top: 1.1875em;
    }
  }
  &__text {
    position: absolute;
    top: 1.0625em;
    left: 5.75em;
    height: 4.8125em;
    min-width: 11.9375em;
    &--shorter-left {
      left: 5.5em;
    }
  }
  &__square {
    max-width: 11.4375em;
    height: 5em;
    background-color: $mainRed;
    position: absolute;
    bottom: 14em;
    display: flex;
    align-items: center;
    @mixin atMedium {
      left: 0;
    }
  }
  &__footer-links {
    min-width: 20.625em;
    height: 1.5625em;
    display: flex;
    justify-content: space-between;
    margin-left: 1.875em;
    @mixin atSmall {
      margin: 0;
      margin-left:3.438rem;
      margin-right:3.438rem;
    }
  }
  &__footer-icons {
    min-width: 14.0625em;
    height: 2em;
    display: flex;
    justify-content: space-between;
    margin-right: 3.125em;
    @mixin atSmall {
      margin: 0;
    }
  }
}